@(projects: List[Project], tasks: List[Task])

@main("Welcome to Play 2.1") {
    
   <h1>Dashboard</h1>
   <h2>Tasks over all projects</h2>
    
   <h3>@tasks.size()</h3>
   <h3>@projects.size()</h3>
    
   <article  class="tasks">
      @tasks.groupBy(_.getProject()).map {
         case (project, tasks) => {
            <div class="folder" data-folder-id="@project.id">
               <header>
                  <h3>@project.name</h3>
               </header>
               <ul class="list">
                  @tasks.map { task =>
                  <li data-task-id="@task.id">
                     
                     <h4>@task.title</h4>
                     
                     @if(task.dueDate != null) {
                        <time datetime="@task.dueDate">
                           @task.dueDate.format("MMM dd yyyy")</time>
                     }

                     @if(task.getUzer() != null && task.getUzer().email != null) {
                        <span class="getUzer">@task.getUzer().email</span>
                     }
                  </li>
                  }
               </ul>
            </div>
         }
      }
   </article>
}